body {
    background-color: #f6f6f6;
    overflow-x: hidden;
}

.btn-cadastro {
    background-color: #bb5d5e;
    color: white;
    margin-left: 40px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 0px;
}

.btn-login {
    background-color: #357989;
    color: white;
    margin-left: 40px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: 0px;
}

.intro {
    margin-left: 40px;
}

.foto-dir {
    margin-left: 40%;
    position: absolute
}

.logotipo {
    width: 500px;
    margin-left: 0px;
}

.bem-vindo {
    margin-left: 40px;
    color: #575757
}

.baixo {
    margin-left: 3%;
}