.btn-info{
    background-color: #bb5d5e;
    margin-top: 5%;
}


tr:hover {
    background-color: gainsboro;
    cursor: pointer;
}


.titulo-tabela:hover {
    background-color: transparent;
    cursor: auto
}
