body {
    background-color: #f6f6f6;
    overflow-x: hidden;
}

.sol {
    margin-top: 3%;

}

.btns {
    margin-top: 10%;

}

tr:hover {
    background-color: gainsboro;
    cursor: pointer;
}


.titulo-tabela:hover {
    background-color: transparent;
    cursor: auto
}

.func:hover {
    background-color: rgb(0, 0, 0, 0.1);
    text-decoration: none;
    border-radius: 5px;
   
}

.cont {
    width: 70%
}

.painel {
    margin-top: 8%;
}
